<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
      <ion-label>Plats africains</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Nature</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="information"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
