<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Galerie photos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let image of natureResponse">
    <img style="width: 100%; height: 250px" src="{{image.largeImageURL}}" />
    <ion-card-header>
      <ion-card-subtitle
        >Téléchargement : {{image.downloads}}</ion-card-subtitle
      >
      <ion-card-title> <b> Vue : {{image.views}}</b></ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
