<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Plats africains</ion-title>
  </ion-toolbar>
  <ion-searchbar
    (ionInput)="search($event)"
    placeholder="Recherche ..."
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let plat of listePlats | filter : searchText"
    (click)="detailPlat(plat)"
  >
    <img style="width: 100%" src="{{plat.Image}}" />
    <ion-card-header>
      <ion-card-subtitle>Pays d'origine : {{plat.Origine}}</ion-card-subtitle>
      <ion-card-title> <b> Nom : {{plat.Nom}}</b></ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
