<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <br /><br />
  <p class="ion-text-center ion-margin">
    Cette application a été réalisée par les étudiants de l'Ecole Supérieure
    d'Informatique de l'Université Nazi Boni dans le cadre d'un TP en
    développement d'application mobile.
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar color="danger">
    <ion-title> ESI@2023 </ion-title>
  </ion-toolbar>
</ion-footer>
